.photos-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.page-content {
  max-width: 1000px;
}

.photo > img {
  border-radius: 3px;
}

@media (min-width: 600px) {
  .photos-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}
